<div class="container">
    <section class="row">
        <div class="page-header">
            <h2 class="heading-1">Account Info</h2>
        </div>
    </section>
    <div class="panel panel-default">
        <div class="panel-body">
            <form [formGroup]="accountForm">
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input formControlName="Email" [ngModel]="userInfo.Email" type="email" class="form-control" id="email" name="email">
                </div>
                <div class="form-group">
                    <label for="pwd">Name:</label>
                    <input formControlName="Name" [(ngModel)]="userInfo.Name" type="text" class="form-control" id="name" placeholder="Enter Name" name="pwd">
                </div>
                <div class="form-group">
                    <label for="pwd">Date Of Birth:</label>
                    <input formControlName="DOB" [ngModel]="locateDOB" (ngModelChange)="onChangeDOB($event)" type="date" class="form-control" id="dob" name="pwd">
                </div>
                <div class="form-group">
                    <label for="pwd">Address:</label>
                    <input formControlName="Address" [(ngModel)]="userInfo.Address" type="text" class="form-control" id="address" placeholder="Enter Address" name="pwd">
                </div>
                <button type="submit"
                        class="btn btn-default"
                        (click)="onChangeInfo()"
                        style="float:right"
                        [disabled]="isDisableSubmit || accountForm.pristine">
                    Change
                </button>
            </form>
        </div>
    </div>
    <section class="row">
        <div class="page-header">
            <h2 class="heading-1">Password</h2>
        </div>
    </section>
    <div class="panel panel-default">
        <div class="panel-body">
            <form [formGroup]="resetPasswordForm" class="form-horizontal" (ngSubmit)="OnChangePassword()">
                <div class="form-group">
                    <label class="col-sm-4 control-label">Current Password</label>
                    <div class="col-sm-8" style="width:34%">
                        <input type="password" formControlName="CurrentPassword" [(ngModel)]="currentPassword" class="form-control" style="display: inline-block;" />
                    </div>
                </div>
                <div class="form-group" [ngClass]="{ 'form-group': true, 'has-error': resetPasswordForm.controls['NewPassword'].hasError('minlength') && !resetPasswordForm.controls['NewPassword'].pristine }">
                    <label class="col-sm-4 control-label">New Password</label>
                    <div class="col-sm-8" style="width:34%">
                        <input 
                               type="password" 
                               formControlName="NewPassword" 
                               class="form-control" 
                               [(ngModel)]="newPassword" 
                               (ngModelChange)="checkMatched()"
                               style="display: inline-block;" />
                        <div *ngIf="resetPasswordForm.controls['NewPassword'].hasError('minlength') && !resetPasswordForm.controls['NewPassword'].pristine">
                            <label class="error">Password must have at least 6 charater!!</label>
                        </div>
                    </div>
                </div>
                <div class="form-group" id="confirmPass">
                    <label class="col-sm-4 control-label">Confirm Password</label>
                    <div class="col-sm-8" style="width:34%">
                        <input 
                               type="password" 
                               formControlName="ConfirmPassword" 
                               [(ngModel)]="confirmPassword" 
                               (ngModelChange)="checkMatched()"
                               class="form-control" 
                               style="display: inline-block;" />
                        <span *ngIf="isShowMatched==false && resetPasswordForm.controls['ConfirmPassword'].dirty" class="fa fa-times form-control-feedback"></span>
                        <span *ngIf="isShowMatched==true && resetPasswordForm.controls['ConfirmPassword'].dirty" class="fa fa-check form-control-feedback"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4" style="width:35%">
                        <button 
                                type="submit" 
                                class="btn btn-success"
                                style="float:right"
                                [disabled]="!_matched || resetPasswordForm.invalid">
                            Change Password
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
