<header style="position:static;top:0px">
    <div class="row" style="margin-left: 40px; margin-right: 30px">
        <a class="btn btn-primary" (click)="navigateToMain()" style="margin-left:20px"><i class="fa fa-list-alt"></i> Main Page</a>
        <a class="btn btn-primary" (click)="navigateToProfile()" style="margin-left:20px"><i class="fa fa-user-circle-o"></i> Account Info</a>
        <a class="btn btn-primary" (click)="navigateToNewFarm()" style="margin-left:20px"><i class="fa fa-plus-circle"></i> New Farm</a>
        <a class="btn btn-warning" (click)="OnSignOut()"style="float:right;margin-left:20px"><i class="fa fa-sign-out"></i> Log out</a>
    </div><!-- navigation end -->
</header><!-- header container end -->
