<h3>Environment Latest</h3>
<div class="row" *ngIf="envLatestInfo">
    <div class="col-sm-4">
        <env-card [title]="'Temperature'"
                  [data]="envLatestInfo.Temperature"
                  [symbol]="'&#8451;'"
                  [srcImg]="imgTemp">
        </env-card>
    </div>
    <div class="col-sm-4">
        <env-card [title]="'Luminosity'"
                  [data]="envLatestInfo.Luminosity"
                  [symbol]="'lx'"
                  [srcImg]="imgLum">
        </env-card>
    </div>
    <div class="col-sm-4">
        <env-card [title]="'Soil Humidity'"
                  [data]="envLatestInfo.Soil_Humidity"
                  [symbol]="'%'"
                  [srcImg]="imgSoil">
        </env-card>
    </div>
</div>
<hr />