<p-gmap #gmap 
        [options]="options" 
        [style]="{'width':'100%','height':'320px'}"
        (onMapClick)="onMapClick($event)">

</p-gmap>
<div class="container">
    <h2>Thông tin nông trại</h2>
    <form [formGroup]="farmForm" (ngSubmit)="onCreatFarm()">
        <div class="form-group">
            <label for="pwd">Tên:</label>
            <input formControlName="Name" [(ngModel)]="farm.Name" type="text" class="form-control" id="name" placeholder="Nhập tên nông trại">
        </div>
        <div class="form-group">
            <label for="pwd">Địa chỉ:</label>
            <input formControlName="Address" [(ngModel)]="farm.Address" type="text" class="form-control" id="address" placeholder="Nhập địa chỉ nông trại">
        </div>
        <button type="submit" class="btn btn-default" [disabled]="!farmForm.valid || farm.Boundary.length==0 ">Tạo nông trại mới</button>
    </form>
</div>