<gmap></gmap>
<p-dropdown [options]="farms" [(ngModel)]="selectedFarm" (onChange)="onChangeFarm($event)"></p-dropdown>
<div *ngIf="farmComponents.length > 0">
    <p-dropdown [options]="farmComponents" [(ngModel)]="selectedFarmComponent" (onChange)="onChangeFarmComponent($event)"></p-dropdown>
    <button pButton type="button" (click)="onCreateNewFarmCmp()" label="New Farm Component"></button>
</div>
<button pButton type="button" (click)="onWatchPlantDetail()" label="View Plant Detail" *ngIf="selectedFarm.FarmId!=0 && selectedFarmComponent"></button>
<button pButton type="button" (click)="onWatchReport()" label="View Environment Info" *ngIf="selectedFarmComponent"></button>
<button pButton type="button" (click)="onWatchNextPeriod()" label="View Next Period Info" *ngIf="hasNextPeriod && selectedFarmComponent"></button>
<control-sensor *ngIf="selectedFarmComponent" style="float:right"></control-sensor>
<p-panel *ngIf="selectedFarm.FarmId != 0" [header]="selectedFarm.Name" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
    {{createFarmDetail(selectedFarm)}}
</p-panel>

<p-dataTable [value]="plantDetails" *ngIf="plantDetails.length > 0 && watchPlantDetail" [style]="{'margin-bottom':'20px'}">
    <p-column field="PlantName" header="Plant Name"></p-column>
    <p-column field="PlantKind" header="Plant Kind"></p-column>
    <p-column field="PlantDescrition" header="Plant Description"></p-column>
    <p-column field="CurrentPerriodName" header="Period Name"></p-column>
    <p-column field="CurrentPerriodDescription" header="Period Description"></p-column>
    <p-column field="StartDayCurrentPeriod" header="Period Start Day"></p-column>
    <p-column field="StartPlantDate" header="Start Plant Date">
        <template let-col let-row="rowData" pTemplate="type" type="body">
            <p>{{row[col.field] | dateformat: 'DD-MM-YYYY'}}</p>
        </template>
    </p-column>
    <p-column field="EndPlantDate" header="End Plant Date">
        <template let-col let-row="rowData" pTemplate="type" type="body">
            <p>{{row[col.field] | dateformat: 'DD-MM-YYYY'}}</p>
        </template>
    </p-column>
   
</p-dataTable>
<!--<p-dialog header="Next Period Info" [(visible)]="showDialogNextPeriod" modal="modal" width="300" [responsive]="true">

</p-dialog>-->