<gmap></gmap>
<p-dropdown [options]="farms" [(ngModel)]="selectedFarm" (onChange)="onChangeFarm($event)"></p-dropdown>
<div *ngIf="farmComponents.length > 0">
    <p-dropdown [options]="farmComponents" [(ngModel)]="selectedFarmComponent" (onChange)="onChangeFarmComponent($event)"></p-dropdown>
    <button pButton type="button" (click)="onCreateNewFarmCmp()" label="Tạo vườn mới"></button>
</div>
<button pButton type="button" (click)="onWatchPlantDetail()" label="Xem thông tin cây" *ngIf="selectedFarm.FarmId!=0 && selectedFarmComponent"></button>
<button pButton type="button" (click)="onWatchReport()" label="Xem thông tin môi trường" *ngIf="selectedFarmComponent"></button>
<button pButton type="button" (click)="onWatchNextPeriod()" label="Xem thông tin chu kỳ kế tiếp" *ngIf="hasNextPeriod && selectedFarmComponent"></button>
<control-sensor *ngIf="selectedFarmComponent" style="float:right"></control-sensor>
<p-panel *ngIf="selectedFarm.FarmId != 0" [header]="selectedFarm.Name" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
    {{createFarmDetail(selectedFarm)}}
</p-panel>

<p-dataTable [value]="plantDetails" *ngIf="plantDetails.length > 0 && watchPlantDetail" [style]="{'margin-bottom':'20px'}">
    <p-column field="PlantName" header="Tên cây" [style]="{'text-align':'center'}"></p-column>
    <p-column field="PlantKind" header="Loại cây" [style]="{'text-align':'center'}"></p-column>
    <p-column field="PlantDescrition" header="Mô tả cây" [style]="{'text-align':'center'}"></p-column>
    <p-column field="CurrentPerriodName" header="Tên chu kỳ" [style]="{'text-align':'center'}"></p-column>
    <p-column field="CurrentPerriodDescription" header="Mô tả chu kỳ"></p-column>
    <p-column field="StartDayCurrentPeriod" header="Ngày bắt đầu chu kỳ" [style]="{'text-align':'center'}"></p-column>
    <p-column field="StartPlantDate" header="Ngày bắt đầu trồng">
        <template let-col let-row="rowData" pTemplate="type" type="body">
            <p style="text-align:center">{{row[col.field] | dateformat: 'DD-MM-YYYY'}}</p>
        </template>
    </p-column>
    <p-column field="EndPlantDate" header="Ngày kết thúc trồng">
        <template let-col let-row="rowData" pTemplate="type" type="body">
            <p style="text-align:center">{{row[col.field] | dateformat: 'DD-MM-YYYY'}}</p>
        </template>
    </p-column>
</p-dataTable>