<div class="login-page">
    <div class="form">
        <form [formGroup]="loginForm" class="login-form" (ngSubmit)="OnLogin()">
            <input formControlName="Email" [(ngModel)]="user.Email" type="text" placeholder="Email" />
            <input formControlName="Password" [(ngModel)]="user.Password" type="password" placeholder="Mật khẩu" />
            <button>Đăng nhập</button>
            <p class="message">Bạn vẫn chưa có tài khoản? <a (click)="ChangeToSignUp()">Tạo tài khoản</a></p>
        </form>
    </div>
</div>