@{
    ViewData["Title"] = "Home Page";
}
<my-app>Loading...</my-app>
<div id="loader" class="overlay-loader">
    <div id="global-loader-background" class="loader-background"></div>
    @*<img id="global-loader-icon" class="loader-icon spinning-cog" src="css/cog11.svg" data-cog="cog11">*@
</div>
@section scripts
{
    <script>
        var CurrentTheme = CurrentTheme || {};

        System.import('app/main').catch(function(err){ console.error(err); });

        jQuery(window).load(function ($) {
            jQuery('#global-loader-icon').removeClass('spinning-cog').remove();
            jQuery('#global-loader-background').delay(800).fadeOut();
            jQuery('#loader').removeClass('overlay-loader');
        });
    </script>
}