@{
    ViewData["Title"] = "Home Page";
}
<my-app></my-app>

<div id="loader" class="sk-circle">
    <div class="sk-circle1 sk-child"></div>
    <div class="sk-circle2 sk-child"></div>
    <div class="sk-circle3 sk-child"></div>
    <div class="sk-circle4 sk-child"></div>
    <div class="sk-circle5 sk-child"></div>
    <div class="sk-circle6 sk-child"></div>
    <div class="sk-circle7 sk-child"></div>
    <div class="sk-circle8 sk-child"></div>
    <div class="sk-circle9 sk-child"></div>
    <div class="sk-circle10 sk-child"></div>
    <div class="sk-circle11 sk-child"></div>
    <div class="sk-circle12 sk-child"></div>
</div>
@section scripts
{
    <script>
        var CurrentTheme = CurrentTheme || {};

        System.import('scripts/app/app-main').catch(function(err){ console.error(err); });

        jQuery(window).load(function ($) {
            //jQuery('#global-loader-icon').removeClass('spinning-cog').remove();
            //jQuery('#global-loader-background').delay(800).fadeOut();
            jQuery('#loader').removeClass('sk-circle');
            jQuery('#body').removeClass('body-colour');
        });
    </script>
}